{% extends 'base.html' %}

{% block head %}
<title>Login Page</title>
{% endblock %}

{% block body %}
<div id="login-page-content">
    <p>Log in! - Chat App</p>
    <form action="" method="post">
        Username: <input type="text" name="username" id="username"/>
        <br />
        Password: <input type="text" name="password" name="password" />
        <br />
        <input type="submit" value="Sign In" />
        <a href="{{ refToRegister }}">Register</a>
    </form>
    
</div>
{% endblock %}