body {
    margin: auto;
    font-family: sans-serif;
    text-align: center;
}

h1 {
    /* text-align: left; */
    font-family: sans-serif;
}

h2{
    font: bold;
}

.header-div {
    display: flex;
    gap: 100px;
    justify-content: center;
}

#add-blog-div {
    width: 80%;
    justify-content: center;
}

#header-title {
    color: blue;
    font-style: italic;
}

#nav-menu {
    margin-top: 25px;
}

.nav-item {
    margin-right: 20px;
}

/* a {
    text-decoration: none;
    margin-right: 30;
} */


#nav-home {
    color: black;
    text-decoration: none;
}

#nav-new-blog {
    /* border: 2px solid red; */
    border-radius: 8px;
    background-color: red;
    color: white;
    padding: 8px 13px;
    cursor: pointer;
    text-decoration: none;
}

#new-blog-header {
    color: red;
}

.input-label {
    /* text-align: left; */
    float: left;
    margin-bottom: 5px;
}

#blog-author {
    float: left;
}


#blog-submit {
    background-color: red;
    border: none;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 8px;
    cursor: pointer;
}


#delete-button {
    background-color: red;
    border: none;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 8px;
    cursor: pointer;
}

#main-page-blog-title {
    color: red;
    text-decoration: none;
    justify-content: left;

}

#main-page-blog-author {
    color: black;
    font-size: bold;
    text-decoration: none;
    justify-content: left;
}

#main-title{
    text-align: left;
    padding-left: 25%;
}

#main-author{
    font-weight: bold !important; 
    text-align: left;
    padding-left: 25%;
}


table,
th,
td {
    /* border: 1px solid; */
    margin: auto;
}

th,
td {
    min-width: 100px;
    text-align: center;
}

form {
    padding-top: 20px;
    display: inline-block;
}