<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css')}}">
    {% block head %} {% endblock %}
</head>

<body>
    <div class="header-div">
        <div id="header-title">
            <h1 >CS-1520 Blog Corner</h1>
        </div>
        <div id="nav-menu">
            <nav>
                <a class="nav-item" id="nav-home" href="{{ refToHome }}">Home</a>
                <a class="nav-item" id="nav-new-blog" href="{{ refToNewBlog }}">New Blog</a>
            </nav>
        </div>
    </div>

    <br>
    {% block body %} {% endblock %}
</body>

</html>