{% extends 'basePage.html' %}

{% block head %}
<title>Main Page</title>
{% endblock %}

{% block body %}
<div id="main-page-content">
    {% if blogs %}
    {% for blog in blogs %}
    <h2 id="main-title">
        <a id="main-page-blog-title" href="/blog/{{blog.id}}">{{ blog.title }}</a>
    </h2>
    <p id="main-author">
        <a id="main-page-blog-author" href="/blog/{{blog.id}}">Written by {{
            blog.author }} </a>
    </p>
    {% endfor %}

    {% else %}
    <h2> There are no blog posts to be displayed. Please create a blog </h2>
    {% endif %}
</div>
{% endblock %}