{% extends 'basePage.html' %}

{% block head %}
<title>New Blog Page</title>
{% endblock %}

{% block body %}
<h2 id="new-blog-header"> Add a New Blog </h2>
<div id="add-blog-div">
    <form id="new-blog-form" action="/new-blog" method="POST">
        <label class="input-label" for="new-blog-title">Blog Title:</label>
        <br>
        <input class="new-blog-input" type="text" name="blog-title" id="new-blog-title">
        <br><br>
        <label class="input-label" for="new-blog-body">Blog Body:</label>
        <br>
        <textarea class="new-blog-input" type="text" name="blog-body" id="new-blog-body"></textarea>
        <br><br>
        <label class="input-label" for="new-blog-author">Blog Author:</label>
        <br>
        <select class="new-blog-input" name="blog-author" id="new-blog-author">
            <option value="Maria">Maria</option>
            <option value="Scott">Scott</option>
            <option value="Jen">Jen</option>
            <option value="Adam">Adam</option>
        </select>
        <br><br>
        <input type="submit" id="new-blog-submit" value="Add Blog">
    </form>
</div>

{% endblock %}