#bgColor {
    background-color: lightblue;
}

#greenText {
    color: green;
}

.redText {
    color: red;
}

.orangeText {
    color: orange;
}

img {
    width: 400px;
    height: 500px;
}

a:link {
    color: red;
}

a:visited {
    color: green;
}

a:hover {
    color: hotpink;
}

a:active {
    color: blue;
}

table,
th,
td {
    border: 2px solid black;
}