#chat_window {
    resize: vertical;
}

#author {
    display: block;
    font-size: 1.17em;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0.5em;
    margin-right: 0;
    font-weight: bold;
    text-transform: capitalize;
}

#author-container {
    display: flex;
}